---
layout: layouts/home.njk
title: playground
---
<body>
<h1> Playground</h1>

<p>How many Eleventy Stargazers are there as of today?</br>
{{ github.stargazers }} GitHub Stars


<p>Santa Cruz windspeed</br>
{{ stormglass.jsonData }}

</body>
</html>
